include *.in
include .coveragerc
include Makefile
include tox.ini
include LICENSE
recursive-include algo_profiler *.gitkeep
recursive-include examples *.py
recursive-include make *.mk
recursive-include tests *.py

exclude notes.txt
recursive-exclude docs *.bat
recursive-exclude docs *.py
recursive-exclude docs *.rst
recursive-exclude docs Makefile
